.ratio {
  margin-left: 50px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  padding-right: 4px;
  padding-left: 4px;
  // padding-top: 1px;
  width: 440px;
  height: 370px;
}

.ratio-name {
  margin-left: 2px;
  font-weight: bold;
}

.category-ratio{
  margin-top: 4px;
  display: flex;
  background-color: gainsboro;
  // padding: 5px;
  border-radius: 10px;
}

.category-1 {
  margin-right: 5px;
  border-right: 1px solid rgb(182, 181, 181);
  padding: 8px;
  width: 100px;
}

.category-2 {
  margin-right: 5px;
  border-right: 1px solid rgb(182, 181, 181);
  padding: 8px;
  width: 100px;
}

.category-3 {
  margin-right: 5px;
  border-right: 1px solid rgb(182, 181, 181);
  padding: 8px;
  width: 100px;
}

.category-4 {
  margin-right: 5px;
  padding: 8px;
  width: 100px;
}

.category-name {
  font-size: small;
}

.category-number {
  margin-top: 8px;
  font-weight: bold;
  font-size: 20px;
}

